section .cart {
    position: relative;
    border: 1px solid #ccc;
}

.amount span {
    color: rgb(228, 17, 17);
    padding: 0 20px;
}

.amount .count {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: #000000a3;
    cursor: pointer;
}

.addminus {
    width: 40px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px solid rgb(219, 201, 41); */
    outline: none;
    cursor: pointer;
    background: #63615d;
    color: white;
}

.delete {
    position: absolute;
    top: 0;
    right: 5px;
    color: crimson;
    cursor: pointer;
    font-weight: 900;
}

.total {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total a {
    text-decoration: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}

.total h3 {
    margin-right: 50px;
    color: crimson;
    /* margin-right: 50px;
    color: rgb(255, 255, 255); */
}

.cart img {
    max-width: 500px;
    width: 50%;
    height: 300%;
    max-height: 400px;
    display: block;
    object-fit: cover;
}

.colr {
    color: #feb402;
}

.removebutton {
    margin-top: 25%;
    margin-left: 50%;
}