#contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: auto;
    margin: 50px 10px;
    text-overflow: scroll;
    color: rgb(250, 244, 244);
}

.contactUs {
    background-color: #343a40;
}